
/* Reset the basic elements to a baseline. */
body {
  color: #000000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 13px;
}

a:link {
  color: #3366ff;
}
a:visited {
  color: #6633cc;
}
a:hover {
}
a:active {
  color: #ff0000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 100%;
}
p, ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 100%;
}
li {
  margin: 0px;
  padding: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: inherit;
}
caption {
  text-align: left;
}
th {
  border-bottom-width: 1px;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
}
td {
  font-size: 100%;
}
form {
  margin: 0px;
  padding: 0px;
}
fieldset {
  border: 1px solid #e0e0e0;
  padding: 5px;
}
b, strong {
  font-weight: bold;
}
i, em, u {
  font-style: italic;
}
u {
  text-decoration: none;
}
a img {
  border: 0px;
}

/* Main page element styles */
#header {
  margin-bottom: 10px;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 10px;
}
#header h1 {
  margin-bottom: 10px;
}
#header img.logo {
  vertical-align: middle;
}
#header .site-name {
}
#header .site-slogan {
}
#header .navigation {
}
#header .navigation .navigation-primary {
}
#header .navigation .navigation-secondary {
}
#header form.search {
  margin-top: 10px;
}

#container {
  xclear: both;
}

.sidebar {
}
#left-sidebar {
  float: left;
  width: 20%;
}
#right-sidebar {
  float: left;
  width: 20%;
}

#page {
  float: left;
  overflow: hidden;
  background-color: #ffffff;
  min-height: 500px;
}

#footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
}

/* Common page items */
#page h2.title {
}
#page .mission {
  padding: 20px;
  font-size: 144%;
}
#page .tabs {
}
#page .help {
}
#page .messages {
  color: #333333;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
}
#page .error {
  border-color: #ff0000;
}

.breadcrumb {
}

/* Blocks */
.block {
  padding-left: 5px;
  padding-right: 5px;
}
.block .title {
  font-weight: bold;
}
.block .content {
  padding-bottom: 10px;
}
.user-login-block {
  text-align: left;
}

/* Nodes */
.node {
  margin-bottom: 10px;
}
.node h3.title {
}
.node .content {
}
.node .picture {
  float: left;
  padding: 4px;
  margin-right: 4px;
  background-color: #f0f0f0;
}
.node .date {
}
.node .author {
}
.node .terms {
}
.node .links {
  clear: left;
}
.node-sticky {
}
.node table {
  width: 100%;
}

/* Boxes (comment list container) */
.box {
}
.box h3.title {
}
.box .content {
}

/* Comments */
.comment h4.title {
}
.comment .new {
}
.comment .content {
}
.comment .picture {
  float: left;
  padding: 4px;
  margin-right: 4px;
  background-color: #f0f0f0;
}
.comment .date {
}
.comment .author {
}
.comment .links {
  clear: left;
}
.comment-new {
}

/* Customize different page layouts */
#header {
  margin-left: auto;
  margin-right: auto;
}
body.sidebar-left #header {
  width: 80%;
}
body.sidebar-right #header {
  width: 80%;
}
body.two-sidebars #header {
  width: 60%;
}
body.no-sidebars #header {
  width: 100%;
}

body.sidebar-left #page {
  width: 77%;
  padding-left: 2%;
}
body.sidebar-right #page {
  width: 77%;
  padding-right: 2%;
}
body.two-sidebars #page {
  width: 55%;
  padding-left: 2%;
  padding-right: 2%;
}
body.no-sidebars #page {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  float: none;
}

.footer {
  margin-left: auto;
  margin-right: auto;
}
body.sidebar-left .footer {
  width: 80%;
}
body.sidebar-right .footer {
  width: 80%;
}
body.two-sidebars .footer {
  width: 60%;
}
body.no-sidebars .footer {
  width: 100%;
}

/* Fixed-width sidebars, fixed center column. */
/*
#left-sidebar {
  float: left;
  width: 120px;
}
#right-sidebar {
  float: left;
  width: 100px;
}

#header,
body.sidebar-left #header,
body.sidebar-right #header,
body.two-sidebars #header,
body.no-sidebars #header {
  width: 760px;
  margin-left: 0px;
  margin-right: 0px;
}

body.sidebar-left #page,
body.sidebar-right #page,
body.two-sidebars #page,
body.no-sidebars #page {
  float: left;
  width: 440px;
}

.footer,
body.sidebar-left .footer,
body.sidebar-right .footer,
body.two-sidebars .footer,
body.no-sidebars .footer {
  width: 760px;
  margin-left: 0px;
  margin-right: 0px;
}
*/

/* Fixed-width sidebars, fluid center column. */
/*
#left-sidebar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
}
#right-sidebar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 160px;
}

#header,
body.sidebar-left #header,
body.sidebar-right #header,
body.two-sidebars #header,
body.no-sidebars #header {
  margin-left: 160px;
  margin-right: 160px;
}

body.sidebar-left #page,
body.sidebar-right #page,
body.two-sidebars #page,
body.no-sidebars #page {
  float: none;
  margin-left: 160px;
  margin-right: 160px;
}

.footer,
body.sidebar-left .footer,
body.sidebar-right .footer,
body.two-sidebars .footer,
body.no-sidebars .footer {
  margin-left: 160px;
  margin-right: 160px;
}
*/
/* end custom layouts */

/* Override drupal.css */
#user-login-form {
  text-align: left;
}
